@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('resources/gradient-bg.jpg');
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #272238;
}

.cover {
    width: 306px;
    height: 288px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.title {
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
    margin: 3px auto;
}

.author {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    margin: auto;
    color: #4D5562;
}

.text-small {
    font-family: 'Inter', sans-serif;
    font-size: 0.625rem; /* 10px */
}

.progress {
    width: 100%;
    margin-top: 10px;
}

.time {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #4D5562;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 6px;
}

.progress-filled {
    height: 100%;
    width: 0%;
    background-color: #C93B76;
    border-radius: 10px;
}

.time p{
    color: #4D5562;
}

.control {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.buttons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button { 
    background-color: #C93B76; 
}

.control img {
    cursor: pointer;
}


